.collapse {
  border: 1px solid #ddd;
  margin: 1rem 0;
  border-radius: 5px;
  overflow: hidden;
  .collapse-header {
    background: #ff6060;
    color: white;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      margin: 0;
    }
    .arrow {
      transition: transform 0.3s ease;
      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    &.open {
      max-height: 500px;
      background-color: #f6f6f6;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
