@import "../index.scss";

.containerCollapse {
  @include flex-center;
  flex-direction: column;
  padding: 1rem;
}

.collapse {
  margin: 1rem 0;
  border-radius: 5px;
  overflow: hidden;
  max-width: 80%;
  width: 100%;
  text-align: left;

  .collapse-header {
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    background-color: $main-background-color;
    color: white;

    h3 {
      margin: 0;
    }

    .arrow {
      transition: transform 0.3s ease;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;

    &.open {
      max-height: 1000px;
      background-color: #f6f6f6;
    }

    .collapse-inner {
      padding: 1rem;
      font-size: 20px;
      font-weight: normal;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }
  }
}

/* Accessibilité bouton */
.collapse-header {
  outline: none;

  &:focus-visible {
    outline: 2px solid white;
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

/*Variants*/
/*Page HousingDetail*/
.collapse.housing {
  .collapse-header {
    font-size: 18px;
  }

  .collapse-inner {
    font-size: 18px;
    min-height: 190px;
  }
}
#collapseHousingDetail {
  display: flex;
  gap: 5rem;
  padding-bottom: 2em;
}

/*Media Queries*/
@media (max-width: 768px) {
  .collapse-header {
    font-size: 13px;
  }
  .collapse-content .collapse-inner {
    font-size: 12px;
  }
  .collapse {
    min-width: 100%;
  }
  #collapseHousingDetail {
    flex-direction: column;
    gap: 0;
  }
}
