footer {
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 2em;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

footer img {
  color: white;
  width: 122px;
}
