.host {
  display: flex;
  justify-content: end;
  .host-picture {
    border-radius: 50%;
    width: 64px;
  }
  .host-name {
    color: #ff6060;
    font-size: 18px;
    display: flex;
    font-weight: bold;
    flex-wrap: wrap;
  }
}
