@use "../index.scss" as *;

.host {
  display: flex;
  justify-content: end;
  align-items: center;
  .host-picture {
    border-radius: 50%;
    width: 64px;
  }
  .host-name {
    @include flex-center;
    flex-direction: column;
    color: $main-background-color;
    font-size: 18px;
    margin-right: 1em;
  }
}
