@import "../index.scss";

#title-logement {
  display: flex;
  color: $main-background-color;
  font-size: 36px;
  margin-bottom: 0;
  text-align: left;
  font-weight: 500;
}

.title-host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  line-height: 143%;
  padding-top: 2em;
}

.location {
  display: flex;
  font-size: 18px;
}

.tags-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1em;
}

@media (max-width: 768px) {
  #title-logement {
    font-size: 18px;
  }
  .location {
    font-size: 14px;
  }
  .rating-host {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .title-location {
    text-align: left;
  }
}
