@use "../index.scss" as *;

.housing-header {
  display: flex;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.info-logement {
  width: 60%;
}

.rating-host {
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 0;
  width: 40%;
}

#title-logement {
  color: $main-background-color;
  font-size: 36px;
  margin: 0;
  text-align: left;
  font-weight: 500;
}

.title-host {
  @include flex-space-between;
  flex-wrap: wrap;
  line-height: 143%;
  padding-top: 2em;
}

.location {
  display: flex;
  font-size: 18px;
  color: black;
  margin-top: 0.2em;
  margin-bottom: 0.6em;
}

.tags-rating {
  @include flex-space-between;
  flex-wrap: wrap;
  padding-bottom: 1em;
}

@media (max-width: 768px) {
  .housing-header {
    flex-direction: column;
    margin-bottom: 0;
    line-height: 143%;
  }
  .rating-host {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .rating-host .host {
    order: 2;
    flex: 1;
  }
  .rating-host .rating {
    order: 1;
    flex: 1;
  }
  #title-logement {
    font-size: 18px;
  }
  .location {
    font-size: 14px;
  }
}
