@import "../index.scss";

#notFound {
  font-size: 288px;
  color: $main-background-color;
  margin: 0;
}

#notFoundMessage {
  font-size: 36px;
  color: $main-background-color;
  font-weight: normal;
}

#linkNotFound {
  color: black;
  text-decoration: underline;
  display: inline-block;
  margin: 4rem 0;
}

@media (max-width: 768px) {
  #notFound {
    font-size: 96px;
  }
  #notFoundMessage {
    font-size: 18px;
  }
  #linkNotFound {
    font-size: 14px;
  }
}
