#notFound {
  font-size: 288px;
  color: #ff6060;
  margin: 0;
}

#notFoundMessage {
  font-size: 36px;
  color: #ff6060;
  font-weight: normal;
}

#linkNotFound {
  color: black;
  text-decoration: underline;
  display: inline-block;
  margin: 4rem 0;
}
