@use "../index.scss" as *;

.rating {
  display: flex;
  justify-content: flex-end;
}

.star {
  font-size: 36px;
  color: #e3e3e3;
  border-radius: 8px;
  margin-right: 12px;
  &.filled {
    color: $main-background-color;
  }
}

@media (max-width: 768px) {
  .rating {
    justify-content: flex-start;
    width: 100%;
  }
  .star {
    font-size: 18px;
  }
}
