.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.tag {
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  min-width: 115px;
  height: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
}
