/*Font*/
$font-stack: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-weight: 500;

/*Colors*/
$link-color: #ffffff;
$main-background-color: #ff6060;
$button-bg-dark: #1a1a1a;
$button-bg-light: #f9f9f9;

:root {
  font-family: $font-stack;
  line-height: 1.5;
  font-weight: $font-weight;
  color-scheme: light dark;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: $font-weight;
  color: $link-color;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  font-weight: $font-weight;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 24px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: $font-weight;
  color: white;
  cursor: pointer;
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

/*Mixin*/
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/*Medias*/
@media (max-width: 768px) {
  p {
    font-size: 12px;
  }
}
